.footer {
 
  bottom: 0.1%;
  font-family: "Roboto", sans-serif;
  background-color: #182333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  width: 100%;
 
}
h1,
h2,
h3,
h4 {
  color: #f8f9fa;
}
.container {
  padding: 1rem;
  width: 100%;
}
.box {
  width: 100%;
  padding: 10%;
  margin: 5%;
  height: 100%;
  margin: 1% 1% 1% 1%;
}

.col {
  column-count: 3;
  width: 100%;
}

a {
  text-decoration: none;
  color: #999999;
}

.fa-building {
  color: #fda12b !important   ;
}
.text-primary {
  color: #fda12b !important   ;
  border-color: #fda12b;
  border: solid 1px;
  width: 10%;
  height: 10%;
  text-align: center;
  padding: 1rem;
  padding: 2% 2%;
}

.text-primary-h :hover {
  color: #f8f9fa !important;
  background-color: #fda12b;
  border-color: #fda12b;
}

.box div:hover {
  transition: 200ms;
  letter-spacing: 1px;
}
.copyright {
  border-top: solid 1px;
  padding: 1%;
  border-color: #999999;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .footer {
    
    bottom: 0.1%;
  }
  .box {
    width: 100%;
  }
  .col {
    column-count: 1;
  }
}
