@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



.Contact-us-start{
    padding-top: 200px;
}

.Contact-us-1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 7vw;
}
.Contact-us-2{
    width: 40vw;
    margin-top: 40px;
    display: flex;

    flex-direction: row;
    font-size: 2vw;
    align-items: center;
    line-height: 1.1;
    margin-left: 30vw;
    

}
.Contact-us-2-sub{
    display: flex;
    flex-direction: column;
    margin-left: 30px;

  

}